<%= form_with(model: prayer_request) do |form| %>
  <% if prayer_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prayer_request.errors.count, "error") %> prohibited this prayer_request from being saved:</h2>

      <ul>
        <% prayer_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'w-100' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit 'Create Request', class: 'btn btn-primary' %>
  </div>
<% end %>
