<!DOCTYPE html>
<html>
  <head>
    <title>Neomonastery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <a href="<%= root_path %>" class="navbar-brand">Neo Monastery</a>
    <div>
      <a class="btn btn-primary me-2" href="<%= new_user_session_path %>">Login</a>
      <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger', method: :delete %>
      <a class="btn btn-success" href="<%= new_user_registration_path %>">Register</a>
    </div>

  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  </body>
</html>
