<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
  <head>
    <title>Neomonastery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark d-flex justify-content-between flex-nowrap">
    <a href="<%= root_path %>" class="navbar-brand me-5 btn btn-outline-info"><p class="h2">NeoMonastery</p></a>
    <div class="w-75">
      <div class="d-flex justify-content-start">
        <%= link_to 'Prayer Requests', prayer_requests_path, class: 'btn light' %>
      </div>
    </div>

    <div class="w-25">
      <div class="w-100 d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger nav-item',  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
    <% else %>
        <a class="btn btn-primary me-2 nav-item" href="<%= new_user_session_path %>">Login</a>
        <a class="btn btn-success nav-item" href="<%= new_user_registration_path %>">Register</a>
      <% end %>
      </div>
    </div>

  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <main class="container">
    <%= yield %>

  </main>
  </body>
</html>
